.line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.lbl { 
    width: 120px;
}
.line input {
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid #6b9aff;
    transition: all .3s;
}
.line input:focus {
    filter: drop-shadow(0 0 5px #6b9aff);
}
#loginBtn, #registerBtn {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
}
#loginBtn:hover, #registerBtn:hover {
    opacity: 0.8;
}